.header-container {
    position: relative;
    width: 100vw;
    height: 60px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%); /* Выравнивание по левому краю */
    background: #ffffff;
  }
  .header-title {
    position: absolute;
    left: 3.99%;
    top: 23.33%;
    bottom: 23.33%;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 28.4444px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #454545;
  }
  .header-links {
    display: flex;
    justify-content: flex-end;
  }
  .header-links a {
    margin-top: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: #333;
  }
  .main-container {
    position: relative;
    width: 100vw; 
    height: 750px;
    top: 25px;
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    border-radius: 0; 
    background: #d3d3d3;
  }
  .main-text p {
    margin-bottom: 0; 
  }
.main-text h1 {
    margin-top: 0; 
}

.main-text {
    position: absolute;
    left: 144px;
    top: 354px;
    width: 686px;
    height: 160px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 56px;
    line-height: 1px;
    letter-spacing: -0.015em;
    color: #454545;
    transform: translateY(-100px)
} 
.main-Button {
    position: absolute;
    width: 192px;
    height: 52px;
    left: 145px;
    top: 554px;
    margin-right: auto;
    margin-left: 0px;
    margin-top: auto;
    border-radius: 5%;
    transform: translateY(-100px)
  }

  .main-Button button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4b4a4a; 
    border-radius: 15px; 
    border: none; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #ffffff; 
    cursor: pointer; 
  }